<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="main.css"/>
  <body> 
	
   <div >
        <h1>Bienvenido al TP 2 de DESI </h1>
        <h2>
            <span th:text="'Integrantes: Mella Ivan'"></span>
        </h2>
    </div>
    	
    	<h2>
            <span th:text="'Historias de usuario implementadas:'"></span>
        </h2>
        
    	<ul>
		    <li><a th:href="climaExtendidoRE" class="btn btn-primary margenes" >Registrar/Editar Pronostico extendido</a></li>
		</ul>

        
  </body>
</html>