<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body> 
	
   <div >
        <h1>Bienvenido al TP 2 de DESI POR HOME</h1>
        <h2>
            <span th:text="'Integrantes: Aravena - Bruno - Mella - Lazarte'"></span>
        </h2>
    </div>
    	
    	<h2>
            <span th:text="'Historias de usuario implementadas'"></span>
        </h2>
    	<ul>
		    <li><a th:href="climaRE">Registrar/Editar clima</a></li>
		    <li><a th:href="climaExtendidoRE">Registrar/Editar Pronostico extendido</a></li>
		    <li><a th:href="eventoMeteorologicoRegistrarEditar">Registrar/Editar Evento Meteorologico</a></li>
		    <li><a th:href="climaConsultar">Consultar Clima</a></li>
    	</ul>

        
  </body>
</html>